/* reset code start */
*{
    padding: 0;
    margin: 0;
}
/* reset code end  */


body {
    font-family: "Gill Sans Extrabold", sans-serif;
    color: #FFF;
}

form {
    margin: 10px auto;
    padding: 10px 20px;
    background: #1F4172;
    border-radius: 8px;
    margin-top: 40px;
    box-sizing: border-box;
}

h1 {
    margin-bottom: 30px;
    text-align: center;
    text-transform: capitalize;
    margin-top: 20px;
}

.name {
    font-weight: bold;
    color: #ffdddd;
}

.phone-number {
    color: #ffdddd;
}

input[type="text"] {
    background:  rgba(255, 255, 255, 0.1);
    border:  1px solid #212529;
    font-size: 16px;
    height: auto;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color:#1F4172;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    margin-bottom: 30px;
    box-sizing:  border-box;
}

.button1 {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    color: white;
    background-color: #de6262 ;
    border: none;
    text-decoration: none;
    display: inline-block;
    width: 30%;
}

.posts-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
}

.post-data {
    width: 23%;
    margin:  0.3rem;
    box-shadow: 0 4px 8px 0 rgb(0, 0,0,0.2);
    padding: 1rem;
    transition: all 0.4s;
    box-sizing: border-box;
    background-color: #001524;
    border-radius: 5px;
    
}

.post-data:hover{
    box-shadow: 0 8px 16px 0 rgb(0, 0,0,0.2);
}

.update-btn {
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    color: whitesmoke;
    border: none;
    background-color: #4CAF50;
    margin-top: 25px;
    text-decoration: none;
}

.delete-btn {
    padding: 10px;
    text-align: center;
    width: auto;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    color: whitesmoke;
    border: none;
    background-color: #880d04;
    margin-top: 25px;
    margin-left: 20px;
}

.btn {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    color: white;
    background-color:#f45c43;;
    margin-left: 20px;
    border: none;
}

.aleart{
    text-align: center;  
}

.danger {
    background-color: #ffdddd;
    border-left: 6px solid #f44336;
}

.success {
    background-color: #ffdddd;
    border-left: 6px solid #036603;
}


/* responsive st here */

@media screen and (min-width: 480px) {
    form  {
    max-width:  480px;
    }
}

@media screen and (max-width: 980px) {
    .post-data {
        max-width: 300px; 
        flex-basis: 100%; 
        margin: 0.3rem;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding: 1rem;
        transition: all 0.4s;
        box-sizing: border-box;
        background-color: #141E46;
    }
    .phone-number{
        color: rgb(255, 255, 255);
    }
    .name{
        color: rgb(255, 255, 255);
    }
    form{
        background: #EF9595;
    }
    input[type="text"] {
        background:  #EF9595;
        border: 1px solid black;
    }
    .button1{
        background-color: #3E606F;
    }
}

/* responesive en here */